
 body{
    background-color: rgb(5, 61, 5);
     margin-left: auto;
    margin-right: auto;
 }
div{
    display: inline;
    width: 200px;
}
button{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: greenyellow;
    color: rgb(14, 44, 44);
    border-radius: 20%;
}
button:hover{
    background-color: rgb(167, 144, 160);
    color: rgb(24, 88, 88);
}
#botones{
    float: center;
    margin-top: 50%;
    margin-left: 30%;

}