
 
body{
    background-color: rgb(5, 61, 5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
button{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width:100%;
    background-color: greenyellow;
    color: rgb(14, 44, 44);
    margin-left: auto;
    margin-right: auto;
}